<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhysioMvc</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhysioMvc.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PhysioMvc</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>

            </div>
        </nav>
    </header>
    <div class="row">
        <nav class="col-2 navbar navbar-dark bg-dark">
            <ul class="my-5">
                <li class="nav-item">
                    <p class="nav-link text-light">PUBLIC</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Login</a>
                </li>
            </ul>
            <hr class="text-light">
            <ul class="my-5">
                <li class="nav-item">
                    <p class="nav-link text-light">CLIENT</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Profile</a>
                </li>
            </ul>
            <hr class="text-light">
            <ul class="my-5">
                <li class="nav-item">
                    <p class="nav-link text-light">Staff</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home"
                        asp-action="UnderConstruction">Maintain Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UnderConstruction">CRUD
                        Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Exercise" asp-action="Index">CRUD
                        Exercises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UnderConstruction">CRUD
                        Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UnderConstruction">CRUD
                        ClientPrograms</a>
                </li>
            </ul>
        </nav>
        <div class=" col-10">
            <main role="main" class="p-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
