@{
    ViewData["Title"] = "Under Construction Page";
}

<div class="text-center">
    <h1 class="display-4">This page is under construction</h1>
</div>
<ul>
    <li>Get Nav looking pretty</li>
    <li>Add images to Nav</li>
    <li>Add under construction items to Nav</li>
    <li>Fix rebuilding</li>
</ul>
